body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #e1e6ea;
}
.clear{
    clear: both;
}

.titleEmi{
    font-size: 21px;
    margin: 5px -5px;
}

a:hover{
    text-decoration: none;
}


a:active, a:focus{
    text-decoration: none;
    background: transparent;
    
}
.col-sm-bx-1{
    min-height: 340px;
}

.container {
    max-width: 1050px;
    width: 100%;
}
.container h2{
    margin-left: -5px;
}
.bx-top-header{
    padding: 0;
}

.navbar {
    background:#00a0c2;
    margin-bottom:0px;
    position: fixed;
    width: 100%;
}
.navbar-inverse {
    border-color: #00a0c2;
    border-style: none;
}

.navbar a{
    color:#fff;
}

div.actions{
    margin-top: 10px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}


.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar a:hover{
    background: #097991 !important;
}
a.logoHover{
    display: block;
    padding: 4px;

}


a.logoHover:hover{
    background:#00a0c2 !important;

}

.active > a{
    color: #fff;
    background: #097991 !important;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 700;
}

.bs-docs-masthead {
    padding: 80px 0;
}

.bs-docs-masthead {
    height: 450px;
    position: relative;
    margin-top: -70px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-image: image-url("bg.jpg");
    background-size: cover; 
}

.bs-docs-masthead2 {
    padding: 60px 0;
    position: relative;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-image: image-url("bgIns.jpg");
    background-size: cover; 
}

h2.insCripn{
    line-height: 40px;
}

a.btn-inscrire{
    display:inline-block;
    margin:auto;
    padding:20px 50px;
    background: #b62f27;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
}

a.btn-inscrire:hover{
    background: #de1206;
    color: #fff;
}

div.detailsHover{
    position: absolute;
    height: 340px;
    width: 100%;
    text-align: center;
    top: 0;
    background: rgba(182, 47, 39, .9);
}

div.detailsHover h2{
    margin-top: 50%;
    border:1px solid #fff;
    border-radius: 20px;
    padding: 5px 20px;
    width: 80%;
    display: inline-block !important;

}

div.detailsHover h2 span{


}

div.detailsHover h2 i{
    color: #fff;
    font-size: 30px;
}

div.detailsHover:hover h2 i{
    font-size: 50px;
    color: #fff;
    transition:font-size 0.3s;
}



div.detailsHover h2 span{
    display: inline-block;
    color: #fff !important;
    font-size: 15px;
}


div.detailsHover:hover h2 span{
    display: inline-block;
    color: #fff !important;
    font-size: 18px;
    transition:font-size 0.3s;
}

.dc-Explore-In{
    height: 200px !important;
    margin-top: 51px;
}

.dc-episode-b{
    height: 300px;
    overflow: hidden;
    position: relative;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-size: cover; 
    max-width: 1050px;
    width: 100%;
    margin: auto;
}

.dc-episode-b img{
    width: 100%
}

.bs-docs-masthead h1{
    margin: 90px 0 80px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(0,0,0,0.6);

}

.search-input {
    display: block;
    width: 500px !important;
    height: 50px;
    padding: 10px 20px;
    font-size: 18px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 30px 0 0 30px;
    border: none;
}


.btn-rounded{
    display: inline-block;
    padding: 10px 27px;
    margin-bottom: 0;
    font-size: 28px;
    height: 50px;
    border-radius: 0 30px 30px 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    margin-left: -10px;
    background: #00a0c2;
    color: #fff;
    border: none;
}

.btn-rounded:hover{
    background: #00a0c2;
    color: #fff;
    border: none;
}

.col-sm-bx-1{
    width: 23%;
    margin: 10px;
    background: #fff;
    padding: 0;
}

.bClassP{
    padding: 10px;
}


.boxEpisU img{
   /* margin: 0px -15px; */
   width: 100%;
}

.boxEpisode{
    box-shadow: 3px 2px 1px #ddd;
    position: relative;
}

.boxEpisode:hover {
    box-shadow: 8px 3px 5px #ddd;
    position: relative;
}

.boxEpisode a h3 {
    color: #515151;
    font-weight: 600;
    margin-top: 5px;
}

.boxEpisode a h4 {
    color: #515151;
    font-weight: 400;
    margin-top: 5px;
}


.boxEpisode a p.desc{
    color: #515151;
    font-weight: 400;
    margin-top: 5px;
    font-style: italic;
}

.boxEpisode a p.date i{
    margin-right: 5px;
    font-size: 11px;
}


.boxEpisode a p.date{
    color: #555;
    font-size: 12px;
    font-weight: normal;
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #efefef;
}



p.date{
    font-size: 12px;
    font-weight: normal;
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #efefef;
}

a .boxChain{
    position: absolute;
    color: #fff;
    padding: 10px 20px;
    background: #b62f27;
    top: 120px;
    font-size: 15px !important;
    right: 0;
    margin: auto;
}

img.imgHeight{
    height: 161px;
}

p.btn-explore a{
    display: block;
    margin: auto;
    padding: 10px;
    color: #fff;
    background: #b62f27;
    text-align: center;
    width: 250px;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 10px auto;
}

footer.footer{
    width: 100%;
    padding: 20px 0;
    background: #2d2d2d;
    color: #fff;
}

.boxCoverN{
    background: #fff;
    position: relative;
    min-height: 150px;
}

.boxDchain{
    padding: 0 !important;
}

.boxDchain h2{
    font-size: 22px;
    color: #777;
    margin: 10px;
    margin-left: -3px;
}

.boxDchain2{
    padding: 0 !important;
    margin-top: 60px;
}

.textEpiso{
    padding:10px 25px;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 90px;
}

.textEpiso:hover{
    background: #fff;
}

.coverLogo{
    position: absolute;
    top: -110px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    background: #fff;
    margin-left: 10px;
}
.episodeDesc{
    margin-left: 219px;
    padding: 10px;
}
.nChain{
    margin-top: -12px;
    font-weight: 800;
    color: #777;
    padding: 8px;
    margin-bottom: 0;
    font-size: 24px;
    font-family: 'Roboto','Helvetica Neue',Helvetica,sans-serif;
}

.fmChain{
    margin: 0;
    font-weight: 700;
    color: #b62f27;
    margin-top: -7px;
    padding: 5px;
    font-family: 'Roboto','Helvetica Neue',Helvetica,sans-serif;

}

.fmChain i.fa-facebook-square{
    color: #3765a3;
}

.fmChain i.fa-twitter-square{
    color: #5ea9dd;
}

.fmChain i.fa-youtube-square{
    color: #d32827;
}

.contAd{
    padding-left:0 !important;
    padding-right: 0 !important;
}

.contAd2{
    padding-left:0 !important;
    padding-right: 0 !important;
}
.contAd2 h2{
    margin-left: 10px;
    margin-bottom: 0;
}
.navAd{
    background: #999;
    padding-left:0;
    padding-right: 0;
}

.navAd a{
    color: #fff !important;
    font-size: 18px;
}

.navAd a:hover{
    background: #00a0c2 !important;
}
.playB{
    display: inline-block;
    position: relative;
    width: 75px;
}

div.lien a.adLink{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    background: #41a305;
    color: #fff;
    text-align: center;
}

div.lien a.adLinkPlay{
    width: 75px;
    background: #da3e40;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
}

div.lien a.linkHover{
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    background: rgba(218, 62, 64, .9);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    transition:background 0.3s;
}

div.lien a.linkHover:hover{
}
span.emi{
    display: block;
    font-size: 19px;
    color: #777;
    margin-top: 10px;
}


p.descEp{
    padding: 10px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #999;
}
.boxEpOne{
    background: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
}
.boxEpisode:hover{
    background: #edf2f5;
}
.imgBx{
    float: left;
    width: 245px;
    height: 174px;
    overflow: hidden;
}

.imgBx img{
    width: 245px;
    height: 174px;
}
.textBx{
    float: left;
    margin-left: 10px;
    width: 61%;
}
.textBx h3{
    margin:5px 0;
}
.box-sm8{
    padding-left: 0;
}

.boxEptwo{
    background: #fff;
    margin-right: 0;
    padding: 10px;
    margin-top: 20px;
}

.boxEptwo img{
    margin: -10px;
}

.boxEpisodeCh{
    padding-left: 0;
}

.boxEmisChain{
    padding-right: 0;
}

.textShowEp{
    width: 200px;
}

.textShowEp h3{
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.textShowEp p{
    margin: 0;
}

.imgBxEp{
    height: 300px;
    overflow: hidden;
}


.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 20px !important;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-radius: 20px !important;
}

.pagination a, .pagination span {
    position: relative;
    float: left;
    padding: 6px 20px; 
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border-radius: 20px;
    margin-left: 5px;
}

.pagination .current{
    position: relative;
    float: left;
    padding: 6px 20px; 
    margin-left: -1px;
    line-height: 1.42857143;
    color: #999;
    text-decoration: none;
    background-color: #ddd;
    border-radius: 20px;
    margin-left: 5px;
    font-style: normal;
}

.boxForm{
    width: 600px;
    background: #fff;
    box-shadow: 3px 2px 1px #ddd;
    margin: auto;
    padding: 20px;
    margin-top: 65px;
    margin-bottom: 10px;
}
.boxFormB{
    width: 600px;
    margin-bottom: 15px;
}

.boxForm h2{
    background: #009dbe;
    color: #fff;
    padding: 20px;
    margin: -20px;
    margin-bottom: 10px;
    text-align: center;

}
.bForm{
    width: 600px;
    background: #d3d8dc;
    padding: 20px;
    text-align: center;
    margin-top: -10px;
}

.boxForm .form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 15px;
}

input[type="submit"] {
    display: block;
    margin: auto;
    color: #fff;
    padding: 8px 15%;
    -webkit-appearance: button;
    cursor: pointer;
    display: inline-block !important;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 35px 13px 35px;
    border-radius: 4px;
    background: #20AA73;
    border: none;
}

#notice_wrapper{
    width: 30%;
    position: absolute;
    background: rgba(221, 56, 66, 1);
    z-index: 100000;
    top:0;
    right: 0;
}

#notice_wrapper p{
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 1.35rem;
    margin: 0 !important;
    padding: 15px !important;
}

.imgBxEp img{
    width: 100%;
}

.imgBxEpL{
    float: left;
    height: 90px;
    overflow: hidden;
}

.imgBxEpL img{
    height: 90px;
}

h2.autrEp{
    font-family: 'Roboto','Helvetica Neue',Helvetica,sans-serif;
    color: #8c96a0;
    font-size: 14px;
    font-weight: 700;
    margin: 24px 0;
    line-height: 1;
}

.col-sm1{
    background: #fff;
    margin-bottom: 20px;
}
.alink{
    display: block;
    font-family: 'Roboto','Helvetica Neue',Helvetica,sans-serif;
    color: #8c96a0;
    font-size: 14px;
    font-weight: 700;
    margin: 17px 0;
    line-height: 1;
}



.button{
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 3px 20px;
    border-radius: 20px;
}
.button i{
    font-size: 18px;
}
.share_facebook{
    background: #3b5998;

}

.share_twitter{
    background: #5ea9dd;
}
.share_gplus{
    background: #dc4a38; 
}





div.jp-type-single{
  width: 70%;
    margin: auto;

}
.jp-jplayer, .jp-audio{
    width: 100%;
    position:fixed;
    left: 0;
    bottom: 0;
    background: #2d2d2d;
    padding: 10px;
    z-index: 9999;
}

.jp-title{
    font-size: 12px;
    text-align: center;
    color:#999;
}

.jp-title ul{
    padding:0;
    margin:0;
    list-style: none;
}

.jp-gui{
    position: relative;
    background: #2d2d2d;
    transition: background .4s ease-in-out;
    border-radius:3px;
    overflow: hidden;
    margin-top: 10px;
}
.jp-controls{
    padding: 0;
    margin:0;
    list-style: none;
    font-family: "FontAwesome"
}

.jp-controls li{
    display: inline;
}

.jp-controls li{
    color: #fff;
}
.jp-play, .jp-pause{
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 27px;
    border-radius: 30px;
    font-size: 20px;
    color: #fff;
}

.jp-controls .jp-play:hover, .jp-controls .jp-play:focus, .jp-controls .jp-pause:hover, .jp-controls .jp-pause:focus{
    background-color: none !important;
}
.jp-mute, .jp-unmute{
    position: absolute;
    right: 59px;
    top:-7px;
    width: 20px;
    height: 30px;
    display: inline-block;
    line-height: 42px;
    font-size: 20px;
    color: #fff;
}
.jp-mute{
    text-align:left;
}
.jp-time-holder{
    color:#fff;
    font-size: 12px;
    line-height: 0px;
    position: absolute;
    right: 90px;
    top:14px;
}

.jp-progress{
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    position: absolute;
    right: 14%;
    top: 9px;
    width: 82%;
}

.jp-play-bar{
    height: 10px;
    background-color: #00a0c2;
    border-radius: 20px 20px 20px 20px;
}

.jp-volume-bar{
    position: absolute;
    right: 10px;
    top:10px;
    width:45px;
    height: 10px;
    border-radius:20px 20px 20px 20px;
    background-color: #fff;
    overflow: hidden;
}

.jp-volume-bar-value{
    background-color: #00a0c2;
    height: 10px;
    border-radius: 20px 20px 20px 20px;
}




@media (max-width: 992px) and (min-width: 900px){
    
    .col-sm-bx-1 {
        float: left;
        width: 31%;
    }

}


@media (max-width: 900px){
    .col-sm-bx-1 {
        float: left;
        width: 47%;
    }

    .search-input {
        border-radius: 30px;
        border-radius: 30px 0 0 30px;
    }


    .btn-rounded{
        border-radius:0 30px 30px 0;
    }

}

@media (max-width: 700px){
    .col-sm-bx-1 {
        float: left;
        width: 46%;
    }

    .search-input {
        border-radius: 30px;
        width: 100% !important;
    }


    .btn-rounded{
        border-radius:30px;
    }

}

@media (max-width: 500px){
    .col-sm-bx-1 {
        float: left;
        width: 95%;
    }

    .search-input {
        border-radius: 30px;
        width: 100% !important;
    }


    .btn-rounded{
        border-radius:30px;
    }

}


